RewriteEngine On

Options -Indexes

<FilesMatch "^(config\.php|config\.local\.php|.*\.sql|README\.md|CONFIGURATION\.md)$">
  Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
